{% extends "base.html" %}
{% load taggit_templatetags2_tags %}
{% block content %}
    <div class="blog">
        {% for article in articles %}
        <article>
            <div>
                <a href="{% url 'get_article' slug=article.slug %}">{{ article.title }}</a>
            </div>
            <div>
                {{ article.subtitle|safe }}
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="wiki">
        {%  if request.user.is_authenticated %}
        <div class="tags">
        Navigation par tags :</br>
        {% get_taglist as tags %}
        {% for tag in tags %}
            <a href="{% url 'get_pages_by_tag' tag_slug=tag.slug %}">{{ tag }} ({{tag.num_times}})</a>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <div style="clear:both;">
{% endblock content %}