{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
    {% if form.errors %}
        <p class="error">Votre nom d'utilisateur ou votre mot de passe est invalide</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">{% csrf_token %}
        <table id="login">
            <tr >
                <td align="right" style="padding:10px;" >Nom d'utilisateur&nbsp;</td>
                <td >{{ form.username }}</td>
            </tr>
            <tr>
                <td align="right">Mot de passe &nbsp;</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
		<br/>
        <input type="submit" value="Se connecter" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock content %}